<html>
<head>
<meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1"> <title>Matnn Job Status</title> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>Matnn Job Status</title>
	<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
//jobid = "00ba46e6fd66e7eae9ec9c43d0828580-opuft";
const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay))

const delay = async () => {
  await sleep(1000)
  console.log("First")
  await sleep(1000)
  console.log("Second")
  await sleep(1000)
  console.log("Third")
location.replace("/result/<%= id %>");
}
	function updateMatnn(){
             $.ajax({ 
	url: "/api/status/<%= id %>",
	dataType: "json",
	cache: false,
        statusCode: {
		200: function(JSONObject) { 
			console.log(JSONObject)
			console.log("Done")
			console.log(JSONObject.detail);
			$("#currentJob").html(JSONObject.detail); 
			delay()
			//location.replace("/test2.html");
			},
		202: function(JSONObject) { 
			console.log(JSONObject)
			console.log("Processing")
			console.log(JSONObject.detail);
			$("#currentJob").html(JSONObject.detail); 
			},
		404: function(JSONObject, textStatus, errorThrown) { 
			console.log(textStatus + ": " + JSONObject.status + " " + errorThrown);
			console.log(JSONObject)
			console.log("TUTI")
                        $("#currentJob").html(JSONObject.status + " " + errorThrown + " : " + JSONObject.responseJSON.detail);
			},
                410: function(JSONObject, textStatus, errorThrown) { 
                        console.log(textStatus + ": " + JSONObject.status + " " + errorThrown);
                        console.log(JSONObject);
                        console.log(JSONObject.responseText);
                        $("#currentJob").html(JSONObject.status + " " + errorThrown + " : " + JSONObject.responseJSON.detail);
                        },
                500: function(JSONObject, textStatus, errorThrown) { 
                        console.log(textStatus + ": " + JSONObject.status + " " + errorThrown);
                        console.log(JSONObject);
                        console.log(JSONObject.responseText);
                        $("#currentJob").html(JSONObject.status + " " + errorThrown + " : " + JSONObject.responseJSON.detail);
                        },
		}
		     });
                    };
        updateMatnn();
        setInterval( "updateMatnn()", 10000 ); // refreshed every 60 sec
</script>
		<h1>Matnn Job Status</h1>
		<!-- <h4><%= id %> --- <%= status %></h4> -->
		<!-- <div id="h1_coverart"></div> -->
		<h4><div id="currentJob"></div></h4>
		<h4>Kueue Job ID : <%= id %></h4>
	</body>
</head>
</html>
